<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Calculator history</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 mt-5">
            <table class="table table-bordered w-auto">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Number1</th>
                    <th>Operation</th>
                    <th>Number2</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody th:each="item : ${calcHistory}">
                <tr >
                    <td th:text="${item.user.getUsername()}"></td>
                    <td th:text="${item.date}"></td>
                    <td th:text="${item.num1}"></td>
                    <td th:text="${item.operation}"></td>
                    <td th:text="${item.num2}"></td>
                    <td th:text="${item.result}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/calc/calculate}">back to calculator</a>
            <a th:href="@{/user}">back to home page</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>